@use 'vuetify';
@font-face {
  font-family: Hand;
  src: url(/src/assets/LaBelleAurore.ttf);
}
html * {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
.text-hand {
  font-family: Hand;
}
.v-btn {
  text-transform: none !important;
}
.v-card,
.v-select__content,
.box-shadow {
  box-shadow:
    rgba(black, 0.1) 0px 4px 6px -1px,
      rgba(black, 0.06) 0px 2px 4px -1px !important;
}
.v-list,
.v-field--variant-solo,
.v-field--variant-solo-filled {
  box-shadow: unset !important;
}
.v-select__content {
  transform: translateY(4px);
}
.v-list-item__spacer {
  width: 12px !important;
}
.v-overlay__scrim {
  background: black !important;
}
.app-galery-centered {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.project-container {
  margin-bottom: 2px; /* отступ после проекта */
}
.project-description {
  font-size: 1.2rem;
  color: #C0C0C0;
  text-align: center;  /* или left, если нужно */
  margin-bottom: 16px; /* отступ между описанием и сеткой */
}
