@use 'vuetify';

html * {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
.v-btn {
  text-transform: none !important;
}
.v-card,
.v-select__content {
  box-shadow:
    rgba(var(--v-theme-shadow), 0.1) 0px 4px 6px -1px,
    rgba(var(--v-theme-shadow), 0.06) 0px 2px 4px -1px !important;
}
.v-list,
.v-field--variant-solo,
.v-field--variant-solo-filled {
  box-shadow: unset !important;
}
.v-select__content {
  transform: translateY(4px);
}
.v-list-item__spacer {
  width: 12px !important;
}
